@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600&display=swap");

* {
  color: #d6cdcd;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  --primary: #0f0f14;
  --background: #08080b;
  --font-color: #d6cdcd;
}

body {
  background-color: var(--background);
}

/* CustomBottomNavigation.css */

.navbar-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-bottom-nav {
  background-color: var(--background); /* Background color for the navigation */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0px -3px 5px rgba(24, 24, 24, 0.2); Optional shadow effect */
  border-top: solid 2px #676464;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  border-top: none;
  border-radius: 30px 30px 0 0;
  background-color: var(--primary);
}

.custom-bottom-nav ul {
  margin-bottom: 10px;
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.custom-bottom-nav ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  width: 87px;
}

li > a > svg > path {
  /* color: var(--font-color); Link color */
  color: var(--font-color);
  text-decoration: none;
  display: block;
}

.custom-bottom-nav > ul > li > a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

a > span {
  font-size: 1.2rem;
  margin-top: 0;
}

.custom-bottom-nav ul li a.active > svg > path,
.badge {
  color: whitesmoke;

  /* transform: scale(1.2); Scale the active item for visual feedback */
}

.custom-bottom-nav ul li a.active > span {
  /* border-bottom: 1.5px solid rgb(124, 121, 121); */
  color: whitesmoke;
}

.custom-bottom-nav ul li:hover {
  transform: scale(1.1); /* Scale on hover for visual feedback */
}


/* header */

.logo-img {

  > img{
  width:80px;

  }

}
/* header */

.card-item {
  height: 430px;
  width: 300px;
  border: #d6cdcd solid 2px;
  margin-top: 40px;
  border-radius: 50px 12px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.card-item > img {
  width: 300px;
  height: 300px;
}

.green {
  color: green;
}
.red {
  color: red;
}

.data > .name {
  font-size: 1.5rem;
  font-weight: 500;
}
.data {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  flex-direction: column;
}

.card {
  /* height: 400px; */
  box-shadow: 2px 2px 2px 2px rgb(54, 52, 52);
  background-color: var(--background);
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}

/* for ribbon */
.box {
  position: relative;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}

.card > h3,
.card > h5,
.details > h5,
.details > span,
.details > h4,
.restaurant-details > h4,
.details > h3,
.restaurant-menu > h4,
.menu-Card > h3,
.menu-Card > h5,
.menu-Card > h4,
.cart-card > h1,
.row > h3,
.row > h4 {
  margin: 0px;
}
.card > h5 {
  font-weight: lighter;
}

.search {
  /* margin: 20px 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  /* gap: 2px; */
}

.search > input {
  outline: none;
  width: 220px;
  height: 40px;
  background-color: var(--background);
  color: var(--font-color);
  padding: 3px;
  font-size: 1rem;

  box-sizing: border-box;
  border-radius: 5px;

  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1.8px solid #5c5e61;
  
  text-transform: capitalize;
}

.search > button {
  height: 40px;
  width: 40px;
  color: var(--font-color);
  background-color: var(--background);
  outline: none;
  border: 1px solid #48494a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* about-user */
.user-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap:25px;
  > h4 , > label{
    margin: 0;
    font-weight: 400;
    font-family: cursive;
    font-size: 1.112rem;
  }

}

.user-about{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* loader */

.custom-loader {
  width: 40px;
  height: 10px;
  color: var(--font-color);
  background: radial-gradient(farthest-side, currentColor 90%, #0000) left /
      10px 10px,
    radial-gradient(farthest-side, currentColor 90%, #0000) center/10px 10px,
    radial-gradient(farthest-side, currentColor 90%, #0000) right / 10px 10px,
    linear-gradient(currentColor 0 0) center/100% 4px;
  background-repeat: no-repeat;
  position: relative;
  animation: s6 2s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  animation: inherit;
  --s: calc(50% - 5px);
  animation-direction: reverse;
}
.custom-loader:after {
  --s: calc(5px - 50%);
}

@keyframes s6 {
  0% {
    transform: translate(var(--s, 0)) rotate(0);
  }
  100% {
    transform: translate(var(--s, 0)) rotate(1turn);
  }
}
/* loader ends */

.main {
  padding: 20px;
  /* width : 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.restaurant-summary {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  position: relative;
}

.restaurant-summary > img {
  width: 100%;
  border-radius: 10px;
}

.restaurant-details > h3 {
  text-align: center;
}

.restaurant-summary > .restaurant-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* restaurant menu */
.restaurant-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.menu-Card {
  margin: 10px;
  /* width: 100%; */
  border-bottom: 1px solid rgb(59, 58, 58);
  padding: 10px 10px 32px 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.menu-Card > img {
  /* width: 100%; */
  border-radius: 10px;
}

.details {
  margin-top: 10px;
}
.details > button {
  background-color: green;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/* offline  */

.offline {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* stars */
.row > span > svg > path {
  color: gold;
  font-size: 16px;
}

/* authentication */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
}
.form-box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--font-color);
  padding: 10px;
  border-radius: 10px;
}

.form-box > .div {
  /* height:50px; */
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #48494a;
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  padding: 0 10px;
}

.form-box > input,
.div > input,
.PhoneInputInput {
  color: var(--font-color);
  outline: none;
  width: 11rem;
  height: 23px;
  background-color: var(--background);
  color: var(--font-color);
  padding: 3px;
  font-size: 1rem;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: none;
}

.div > svg,
.PhoneInputCountry > select {
  font-size: 1.8rem;
  margin: 0 0 -6px 0;
  font-weight: lighter;
}

.flexBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
  flex-direction: column;
}
.form-box > .flexBtn > button,
a > button,
.cart-header > button,
.column > button  , .form-box > button {
  width: 260px;
  height: 40px;
  padding: 3px;
  border: 1px solid #48494a;
  background-color: var(--background);
  color: var(--font-color);
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  text-transform: capitalize;
}

.form-box > button:hover,
a > button:hover,
.cart-header > button:hover {
  background-color: var(--background);
}
p {
  color: var(--font-color);
  background-color: var(--primary);
}

.btn-grp {
  background-color: var(--primary);
}
.btn-grp > .btn {
  color: var(--font-color);
}

.cart {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  flex-direction: column;
  /* padding: 10px; */
  margin-bottom: 20px;
}

.cart-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: solid 2px #676464;
  height: 60px;
}

.cart-header > h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-header > button {
  width: 150px;
}

.cart-card {
  /* margin: 10px; */
  /* width : 95%; */
  border-bottom: solid 1px #3b3a3a;
  padding: 10px 10px 32px 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.cart-card > h1,
.row > h4 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: cursive;
  margin-bottom: 8px;
}

.row > h4 {
  font-size: 1rem;
  margin: 0;
}

.row > span {
  color: green;
}



.item-details > img {
  width: 90px;
  border-radius: 5px;
  height: 90px;
}

.item-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  justify-content: center;
}

.row {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 8px; */
  justify-content: space-evenly;
}

.row > button {
  width: auto;
  height: 26px;
  background-color: var(--primary);
  border: 1px solid #48494a;
  display: flex;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

/* cart badge */
.badge {
  font-size: 1.8rem;
}

.row > .row-btn {
  width: 80px;
  height: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #48494a;
  background-color: var(--background);
  color: var(--font-color);
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-top: 10px;
}

.row-btn > button {
  background-color: var(--background);
  color: var(--font-color);
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  /* box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08); */
}

.pricing {
  width: 100%;
  text-transform: capitalize;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pricing-details > h3 {
  font-family: cursive;

  font-size: 1rem;
  font-weight: 500;
}

.about-user > h1 {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* footer */
.footer {
  background: var(--background);
  margin-bottom: 20px;
}

.new_footer_area {
  background: var(--background);
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--font-color);
  padding: 27px 0px;
}

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--font-color);
  margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

.btn_get_two:hover {
  background: transparent;
  color: whitesmoke; /* Adjusted color for hover effect */
}

.btn_get:hover {
  color: whitesmoke;
  background: var(--primary); /* Adjusted color for hover effect */
  border-color: #6754e2; /* Adjusted color for hover effect */
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wow {
  text-align: center;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.f_social_icon {
  display: flex;
  gap: 5px;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: whitesmoke; /* Adjusted color for hover effect */
}

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}

.icon_heart > svg > path {
  margin: 4px;
  color: red;
  font-size: 1rem;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ti-facebook:before {
  content: "\e741";
}

.ti-twitter-alt:before {
  content: "\e74b";
}

.ti-vimeo-alt:before {
  content: "\e74a";
}

.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced; /* Adjusted color for the button */
  border-color: #5e2ced; /* Adjusted color for the button */
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced; /* Adjusted color for hover effect */
}

.new_footer_top .f_social_icon a:hover {
  background: var(--primary); /* Adjusted color for social icons on hover */
  border-color: var(
    --font-color
  ); /* Adjusted color for social icons on hover */
  color: white;
  animation: bounce 1.5s ease-out;
}

.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}

.f_600 {
  font-weight: 600;
}

.f_size_18 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

p {
  background-color: var(--background);
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
/* about form */
.about-form {
  text-align: center;
}

.about-form > p {
  margin-bottom: 0;
  font-family: cursive;
}

.about-form > .form-box > div > input {
  text-transform: capitalize;
}

.form-box > .div {
  width: auto;
  background-color: var(--background);
}

/* empty cart */

.empty-cart {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-cart > img {
  border-radius: 5px;
  width: 15rem;
}

.column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 50%; */
  height: 75vh;
}

.column > button {
  margin-top: 10px;
}

.payment-container {
}

/* Style for the container */
.payment-container {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Style for the heading */
.payment-container h2 {
  font-size: 1rem;
  margin-bottom: 20px;
  font-family: cursive;
}

/* Style for the radio buttons and labels */
.payment-container input[type="radio"] {
  display: none;
}

.payment-container label {
  width: 140px;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  color: var(--font-color);
  background-color: var(--background);
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: scale(0.9);
}

.payment-container input[type="radio"]:checked + label {
  background-color: var(--primary);
  transform: scale(1);
  color: #fff;
  transition: 0.3s ease-out;
}

/* Desktop styles */
/* These styles apply to screens with a width of 1024px and above */

@media (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .search > input {
    width: 40%;
  }

  .restaurant-summary {
    margin: 40px 0;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    gap: 20px;
  }
  .restaurant-summary > img {
    width: 50%;
  }
  .restaurant-details,
  .restaurant-menu > h3 {
    font-size: x-large;
  }
  .menu-Card {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex {
    width: 50%;
  }
  .menu-Card > img {
    max-width: 330px;
    max-height: 200px;
  }
  .form {
    padding: 0;
  }
  .form-box > div {
    width: auto;
  }
  .menu {
    margin: 0 100px;
  }

  /* .cart-card {
    width: 80%;
  } */

  .item-details {
    justify-content: space-evenly;
  }
  .cart-row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .cart-items {
    width: 50%;
  }
  .pricing {
    /* width: 50%; */
    /* height: 500px; */
  }
  .custom-bottom-nav {
    width: 40%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-top: none;
    border-radius: 50px;
    background-color: var(--primary);
    margin: 10px 0;
  }

  .empty-cart > img {
    border-radius: 5px;
    width: 30%;
  }
  .column {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .restaurants {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .search > input {
    width: 40%;
  }

  .restaurant-summary {
    margin: 40px 0;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    gap: 20px;
  }
  .restaurant-summary > img {
    width: 50%;
  }
  .restaurant-details,
  .restaurant-menu > h3 {
    font-size: x-large;
  }
  .menu-Card {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex {
    width: 50%;
  }
  .menu-Card > img {
    max-width: 330px;
    max-height: 200px;
  }
  .form {
    padding: 0;
  }
  .form-box {
    width: 350px;
    padding: 20px;
  }
  .form-box > .div {
    width: auto;
  }
  .menu {
    margin: 0 150px;
  }
  /* .cart-card {
    width: 60%;
  } */

  .item-details {
    justify-content: space-evenly;
  }
  .cart-row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .cart-items {
    width: 50%;
    height: 100vh;
  }
  .pricing {
    /* width: 50%; */
    /* height: 500px; */
    align-items: flex-start;
    /* height: 95vh; */
  }

  .column {
    width: 50%;
  }

  .custom-bottom-nav {
    width: 40%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-top: none;
    border-radius: 50px;
    background-color: var(--primary);
    margin: 10px 0;
  }

  .empty-cart > img {
    border-radius: 5px;
    width: 30%;
  }
}
